<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.liyz.NewsRecommend.mapper.UserKeyTypeMapper">
    <resultMap id="BaseResultMap" type="cn.liyz.NewsRecommend.entity.UserKeyType">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="key_type_id" jdbcType="INTEGER" property="keyTypeId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,user_id,key_type_id
    </sql>

    <insert id="insert" parameterType="cn.liyz.NewsRecommend.entity.UserKeyType">
        insert into t_user_key_type (id,user_id,key_type_id )
        values (#{id,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{keyTypeId,jdbcType=INTEGER}
        )
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from t_key_type
        where user_id = #{userId,jdbcType=INTEGER} And key_type_id=#{keyTypeId,jdbcType=INTEGER}
    </delete>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user_key_type
        WHERE user_id = #{userId}
    </select>

</mapper>